@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
html {
  box-sizing: border-box;
  font-size: 10px;
background-color: #949398;
background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);

}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Shadows Into Light', cursive;
  position: relative;
}
.overlay{
  position: absolute;
  width: 50%;
  height: 60%;
  background-color: rgb(129, 147, 147);
  z-index: 99;
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.overlay>i{
  font-size: 2vw;
  position: absolute;
  top: 0%;
  right: 2%;
  cursor: pointer;
}
.overlay i:active{
  scale: .8;
}
ol li{
  font-size: 1.5vw;
  text-align: center;
}
.start{
  text-align: center;
}
button{
  background: rgb(181, 185, 181);
  font-size: 3rem;
  cursor: pointer;
  border-radius: 10px;
}
button:active{
  scale: .9;
}

h1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 0;
}

.score {
  color: rgb(104, 94, 114);
  margin-top: 0%;

 }

.game {
  position: relative;
  width: 60%;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
 
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height:70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url('mole.svg') bottom center no-repeat;
  background-size: 50%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition:all 0.4s ease;
  cursor: pointer;
}

.hole.up .mole {
  top: 0;
}

@media screen and (max-width: 500px) {
.game{
  width: 100%;
}
.overlay{
  width: 100%;
}
ol li{
  font-size: 4vw;
}
.overlay i{
  font-size: 7vw;
  right:3%;
}
}

